#main{

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: flex;
    margin-top: 20px;
    background-color: lightblue;
    padding: 10px;
}

#first{
    flex-direction: row;
    justify-content: space-around;
}

#second{
    flex-direction: column-reverse;
}

#third {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;


}


.button{
    padding: 10px;
}
#forth .button{
    background-color: lightgreen;
    margin: 5px;
    padding-right: 50px;

}

#forth .b3{
    padding-right: 100px;
}


@media (min-width: 300px) and (max-width: 1000px){
    #first .b3 {
        display: none;
    }
    #first .b4 {
        display: none;
    }
}

@media (min-width: 1400px) {
    #second {
        flex-direction: row;
    }
}