#container {
    text-align: center;
}
.box{
    padding: 25px;
}
nav{
    background-color: lightblue;
}
#logo{
    background-color: lightcoral;
}
#content{
    height: 400px;
    background-color: lightsalmon;
}
footer{
    background-color: lightgreen;
}