#caixa {
    width: 700px;
    height: 800px;
    margin: auto;
    position: relative;

}

#header{
    position: center;
    height: 120px;
    max-width: 100%;
    background-image: url("img/zelda1.png");

}
#paragraf1{
    text-align: justify;
}
#imatge{
    background-image: url("img/zelda2.jpg");
    left: 0;
    width: 200px;
    height: 200px;
    background-size: cover;

}
#paragraf2{
    position: absolute;
    text-align: justify;
    font-family: "Comic Sans MS";
    right: 0;
    top: 250px;
    height: 300px;
    width: 200px;
}

#imatge2{
    background-image: url("img/zelda3.png");
    width: 300px;
    height: 300px;
    background-size: cover;
    position: absolute;
    left: 130px;
}
#link{
    position: absolute;
    color: green;
    right: 300px;
    bottom: 350px;
    font-size: larger;
}
#footer{
    width: 100%;
    position: relative;
    bottom: 0;
}